.header {
  background-color: #3a547f;
  &__container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__wrapper {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    vertical-align: bottom;
  }

  &__logo {
    height: 38px;
    width: 38px;
    padding-right: 140px;
    &:hover {
      cursor: pointer;
    }
  }
}
